@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: var(--size-2);
}

h1 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-weight: var(--font-weight-6);
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: var(--size-4);
  font-size: var(--font-size-5);
}

.links a {
  display: block;
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
}
